body {
	background-image: url(../images/background.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

.jumbotron {
	background-image: url(../images/crop1.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}